version: '3.4'

services:
  eshop-api:
    container_name: eshop-api
    image: ${DOCKER_REGISTRY-}eshopapi
    build:
      context: .
      dockerfile: src/eShop.Api/Dockerfile

  eshop-auth:
    container_name: eshop-auth
    image: ${DOCKER_REGISTRY-}eshopauth
    build:
      context: .
      dockerfile: src/eShop.Auth/Dockerfile

  eshop-esdb:
    container_name: eshop-esdb
    image: eventstore/eventstore:20.10.0-buster-slim
    environment:
      - EVENTSTORE_CLUSTER_SIZE=1
      - EVENTSTORE_RUN_PROJECTIONS=All
      - EVENTSTORE_START_STANDARD_PROJECTIONS=true
      - EVENTSTORE_EXT_TCP_PORT=1113
      - EVENTSTORE_EXT_HTTP_PORT=2113
      - EVENTSTORE_INSECURE=true
      - EVENTSTORE_ENABLE_EXTERNAL_TCP=true
      - EVENTSTORE_ENABLE_ATOM_PUB_OVER_HTTP=true
    ports:
      - "1113:1113"
      - "2113:2113"


volumes:
  eventstore-volume-data:
  eventstore-volume-logs:   
